.GameOfLife .Board {
  margin-bottom: 25px;

  .border {
    display: inline-block;
    border-width: 1px;
    border-style: none;
  }

  table {
    border-width: 1px;
    border-style: solid;
  }

  td {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: none;
  }

  td.live {
    background-color: black;
    animation-duration: 0.05s;
    animation-name: fadeIn;
  }

  td.lived {
    border-style: solid;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
